@model IEnumerable<Project_02.Domain.ViewModels.RoleResultViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">کاربران</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-black">
                        <div class="search-box float-left col-md-6">
                            <input type="text" id="mySearchText" class="form-control" placeholder="جستجو ...">
                        </div>
                        <button type="button" class="btn btn-primary waves-effect waves-light col-md-6" data-animation="bounce" data-target=".bs-example-modal-lg">+ افزودن نقش جدید</button>
                    </div>
                    <input hidden="hidden" id="StatusList" />
                    <div class="card-content">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive" id="orderTable">

                                <table id="dataTableStuff" class="table ">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Row)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.RoleName)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.CreateDate)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.Operation)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<script>
    $(document).ready(function () {
        LoadDataTable();

    });

    function LoadDataTable() {

        var table = $('#dataTableStuff').DataTable({
            order: [[0, 'desc']],
            'sDom': 'lt<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                sEmptyTable: "هیچ داده ای در جدول وجود ندارد",
                sInfo: "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                sInfoEmpty: "نمایش 0 تا 0 از 0 رکورد",
                sInfoFiltered: "(فیلتر شده از _MAX_ رکورد)",
                sInfoPostFix: "",
                sInfoThousands: ",",
                sLengthMenu: "نمایش _MENU_ رکورد",
                sLoadingRecords: "در حال بارگزاری...",
                sProcessing: "در حال پردازش...",
                sSearch: "جستجو: ",
                sZeroRecords: "رکوردی با این مشخصات پیدا نشد",
                oPaginate: {
                    sFirst: "ابتدا",
                    sLast: "انتها",
                    sNext: "بعدی",
                    sPrevious: "قبلی",
                },
                oAria: {
                    sSortAscending: ": فعال سازی نمایش به صورت صعودی",
                    sSortDescending: ": فعال سازی نمایش به صورت نزولی",
                },
            },
            pageLength: 100,
            searching: true,
            Processing: true,
            serverSide: true,
            ajax: {
                url: "/Roles/GetAllRole",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {

                    let jsonData = {
                        "OrderStageId": parseInt($('#orderStageId option:selected').val()),
                        "CustomerId": parseInt($('#customerId option:selected').val()),
                        "DeliveryDate": $('#deliveryDate').val(),
                        "CreateDate": $('#createDate').val(),
                    };

                    d.json = JSON.stringify(jsonData);

                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                { data: "row" },
                { data: "roleName" },
                { data: "createDate" },
                { data: "operation" }
            ],
            "fnCreatedRow": function (nRow, aData, iDataIndex) {

                $(nRow).attr("id", "Order_" + aData.orderId);
            }

        });

        $('#mySearchText').keyup(function () {
            table.search($(this).val()).draw();
        });
    }

</script>


