@model Project_02.Domain.ViewModels.UserDetailsResultViewModel

@{
    ViewData["Title"] = "Show";
}
<div class="page-content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body  met-pro-bg">
                    <div class="met-profile">
                        <div class="row">
                            <div class="col-lg-4 align-self-center">
                                <div class="met-profile-main">
                                    <div class="met-profile-main-pic">
                                        <img src="~/dark-rtl/assets/images/users/user-4.jpg" alt="" class="rounded-circle">
                                        <span class="fro-profile_main-pic-change">
                                            <i class="fas fa-camera"></i>
                                        </span>
                                    </div>
                                    <div class="met-profile_user-detail">
                                        <h5 class="met-user-name">اسم کاربر</h5>
                                        <p class="mb-0 met-user-name-post">نقش کاربر</p>
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-4 ml-auto">
                                <ul class="list-unstyled personal-detail">
                                    <li class=""> <b> phone </b> شماره تلفن<i class="dripicons-phone mr-2 text-info font-18"></i></li>
                                    <li class="mt-2"> <b> Email </b> سطح دسترسی کاربر<i class="dripicons-mail text-info font-18 mt-2 mr-2"></i></li>
                                </ul>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end f_profile-->
                </div><!--end card-body-->
                <div class="card-body">
                    <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="settings_detail_tab" data-toggle="pill" href="#settings_detail">تنظیمات</a>
                        </li>
                    </ul>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="tab-pane fade" id="settings_detail">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="">
                            <form class="form-horizontal form-material mb-0">
                                <div class="form-group">
                                    <input type="text" placeholder="نام کاربری" class="form-control">
                                    <input type="password" placeholder="رمز عبور" class="form-control">
                                    <input type="text" placeholder="شماره تلفن" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm px-4 mt-3 float-right mb-0">اعمال تغییرات</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!--end col-->
        </div><!--end row-->
    </div><!--end settings detail-->
</div>

