@model Project_02.Domain.ViewModels.RequestDetailsResultViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>جزئیات</h1>

<div>
    
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <button asp-action="Index" class="btn btn-danger waves-light">بازگشت به لیست </button>
</div>
