<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">افزودن مشتری جدید</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end-row-->
<!-- end page title end breadcrumb -->

<div class="card">
    <div class="card-body">
        <h4 class="header-title mt-0 mb-3">Delivery Address</h4>
        <form class="mb-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name <small class="text-danger font-13">*</small></label>
                        <input type="text" class="form-control" id="firstname" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name <small class="text-danger font-13">*</small></label>
                        <input type="email" class="form-control" id="lastname" required="">
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Delivery Address <small class="text-danger font-13">*</small></label>
                        <input type="text" class="form-control" required="">
                    </div>
                </div><!--end col-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Address <small class="text-danger font-13">*</small></label>
                        <input type="text" class="form-control" required="">
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>City <small class="text-danger font-13">*</small></label>
                        <input type="text" class="form-control" id="city" required="">
                    </div>
                </div><!--end col-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label pt-0">State <small class="text-danger font-13">*</small></label>
                        <select class="form-control">
                            <option>Select</option>
                            <option>Gujarat</option>
                            <option>New york</option>
                            <option>California</option>
                        </select>
                    </div>
                </div> <!--end col-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label pt-0">Country <small class="text-danger font-13">*</small></label>
                        <select class="form-control">
                            <option>Select</option>
                            <option>India</option>
                            <option>USA</option>
                            <option>New Zealand</option>
                        </select>
                    </div>
                </div> <!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Zip code <small class="text-danger font-13">*</small></label>
                        <input type="text" class="form-control" required="">
                    </div>
                </div><!--end col-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email Address <small class="text-danger font-13">*</small></label>
                        <input type="email" class="form-control" required="">
                    </div>
                </div><!--end col-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Mobile No <small class="text-danger font-13">*</small></label>
                        <input type="text" class="form-control" required="">
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="horizontalCheckbox" data-parsley-multiple="groups" data-parsley-mincheck="2">
                            <label class="custom-control-label" for="horizontalCheckbox">Confirm Shipping Address</label>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </form><!--end form-->
    </div><!--end card-body-->
</div><!--end card-->
