@model Project_02.Domain.ViewModels.CustomerEditRequestViewModel

@{
    ViewData["Title"] = "Edit";
    long customerId = ViewBag.CustomerId;
}

<h1>ویرایش مشتری</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-customerId="@customerId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceId"></label>
                <select asp-for="ProvinceId" class="form-control" id="ProvinceId">
                    <option value="">انتخاب استان</option>
                </select>
                <span asp-validation-for="ProvinceId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TownshipId"></label>
                <select asp-for="TownshipId" class="form-control" id="TownshipId">
                    <option value="">انتخاب شهرستان</option>
                </select>
                <span asp-validation-for="TownshipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary waves-effect waves-light">ذخیره اطلاعات</button>
                <button asp-action="Index" class="btn btn-danger waves-light">بازگشت به لیست </button>
            </div>
        </form>
    </div>
</div>

@section MyScripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetProvinces", "Customers")',
                type: 'GET',
                success: function (data) {
                    var provinceDropdown = $('#ProvinceId');
                    provinceDropdown.empty();
                    provinceDropdown.append('<option value="">انتخاب استان</option>');
                    $.each(data, function (index, item) {
                        provinceDropdown.append('<option value="' + item.provinceId + '">' + item.provinceName + '</option>');
                    });
                }
            });

            $('#ProvinceId').change(function () {
                var provinceId = $(this).val();
                if (provinceId) {
                    $.ajax({
                        url: '@Url.Action("GetTownships", "Customers")',
                        type: 'GET',
                        data: { provinceId: provinceId },
                        success: function (data) {
                            var townshipDropdown = $('#TownshipId');
                            townshipDropdown.empty();
                            townshipDropdown.append('<option value="">انتخاب شهرستان</option>');
                            $.each(data, function (index, item) {
                                townshipDropdown.append('<option value="' + item.townshipId + '">' + item.townshipName + '</option>');
                            });
                        }
                    });
                } else {
                    $('#TownshipId').empty();
                    $('#TownshipId').append('<option value="">انتخاب شهرستان</option>');
                }
            });
        });
    </script>
}